body {
  color: #c2e3dd;
  background-color: #385170;
  font-family: "Anuphan", sans-serif;
  font-size: 1em;
}

/* Top Container */
.top-container {
  padding: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.name {
  padding: 0.2em 0.5em 0.5em 4em;
  font-size: 1em;
  position: relative;
  display: inline-block;
  font-family: "Arial Rounded MT Bold", sans-serif; /* Fix: specify the correct font family */
  color: #142d4c;
}

.nav {
  font-size: 1em;
  display: inline-block;
  word-spacing: 0.5em;
  align-items: center;
}

.social {
  right: 6rem;
  position: relative;
  display: inline-block;
}

a:link {
  text-decoration: none;
  color: #c2e3dd;
}

a:visited {
  text-decoration: none;
  color: #c2e3dd;
}

a:hover {
  text-decoration: underline;
  color: #c2e3dd;
}

a:active {
  text-decoration: underline;
  color: #c2e3dd;
}

i:link {
  text-decoration: none;
  color: #c2e3dd;
}

i:visited {
  text-decoration: none;
  color: #c2e3dd;
}

i:hover {
  text-decoration: underline;
  color: #c2e3dd;
}

i:active {
  text-decoration: underline;
  color: #c2e3dd;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
  height: auto;
  padding: 0.3em 0;
  word-spacing: 0.4,   em;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  line-height: 45px;
}

.copyright{
  word-spacing: 0.1em;
}
.fa-linkedin,
.fa-youtube {
  color: #2c4059; /* Fix: remove extra '#' symbol */
  padding-right: 1em;
}

/* Middle Container */

.top-intro {
  padding: 6em;
  font-size: .5em;
}

.greeting {
  padding-left: 0.5rem;
  text-align: center;
  align-items: center;
  font-size: 45px; /* Fix: correct the value for font-size property */
  line-height: 100px;
}

.name {
  text-align: center;
  align-items: center;
}

.major {
  text-align: center;
  align-items: center;
}

button{
  width:200px;
  height:70px;
  background: linear-gradient(to left top, #c2e3dd 50%, #c2e3dd 50%);
  border-style: none;
  color:#385170;
  font-size: 23px;
  letter-spacing: 3px;
  font-family: 'Lato';
  font-weight: 600;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  transition: all .5s;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
  padding: auto;
  margin: 0;
  position: fixed;
  display: inline-block;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button span{
  position: absolute;
  display: block;
}

button span:nth-child(1){
  height: 3px;
  width:200px;
  top:0px;
  left:-200px;
  background: linear-gradient(to right, rgba(0,0,0,0), #385170);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span1 2s linear infinite;
  animation-delay: 1s;
}

@keyframes span1{
  0%{
      left:-200px
  }
  100%{
      left:200px;
  }
}

button span:nth-child(2){
  height: 70px;
  width: 3px;
  top:-70px;
  right:0px;
  background: linear-gradient(to bottom, rgba(0,0,0,0), #385170);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span2 2s linear infinite;
  animation-delay: 2s;
}

@keyframes span2{
  0%{
      top:-70px;
  }
  100%{
      top:70px;
  }
}

button span:nth-child(3){
  height:3px;
  width:200px;
  right:-200px;
  bottom: 0px;
  background: linear-gradient(to left, rgba(0,0,0,0), #385170);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  animation: span3 2s linear infinite;
  animation-delay: 3s;
}

@keyframes span3{
  0%{
      right:-200px;
  }
  100%{
      right: 200px;
  }
}

button span:nth-child(4){
  height:70px;
  width:3px;
  bottom:-70px;
  left:0px;
  background: linear-gradient(to top, rgba(0,0,0,0), #385170);
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  animation: span4 2s linear infinite;
  animation-delay: 4s;
}

@keyframes span4{
  0%{
      bottom: -70px;
  }
  100%{
      bottom:70px;
  }
}

button:hover{
  transition: all .5s;
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}

button:hover span{
  animation-play-state: paused;
}

video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.2;
  z-index: -1;
}
